.planto-header{
    width: 96%;
    right: 50%;
    transform: translate(50%, 50%);
    margin-top: 1.725em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    height: 5em;
    padding-left: 0.8125em;
    padding-right: 0.8125em;
    padding-bottom: 1.0625em;
    padding-top: 0.9375em;
    box-sizing: border-box;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}
.planto-header-noScroll .planto-body-border{
    visibility: hidden;
}
.planto-scrolled-header-background .planto-body-border{
    visibility:visible;
}
.planto-header button{
     font-family: "Inter Medium";
}
.logo-container{
    display: flex;
    align-items: flex-end;
}
.logo-name{
    font-family: 'Inter Black';
    font-size: 1.75em;
    opacity: 0.75;
    margin-left: 14px;
    
}
.logo{
    width: auto;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.17)) drop-shadow(0px 46px 37px rgba(0, 0, 0, 0.1261)) drop-shadow(0px 26px 21px rgba(0, 0, 0, 0.1066)) drop-shadow(0px 16px 13px rgba(0, 0, 0, 0.0918)) drop-shadow(0px 10px 7px rgba(0, 0, 0, 0.0782)) drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.0634)) drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.0439));
}
.planto-header-navigaton{
    display: flex;
    align-items: center;
    width: 34.0625em;
    justify-content: space-between;
    box-sizing: border-box;
}
.planto-header-manipulationbuttons{
    width: 12.5625em;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.planto-header-navigaton button{
    padding-top: 0.4em;
}
.planto-header-manipulationbuttons button{
    padding-top: 0.4em;
}
.planto-scrolled-header-background{
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    filter: drop-shadow(0px 18px 22px -6px rgba(0, 0, 0, 0.25));
}
@media screen and (max-width: 700px){
    header .planto-header-navigaton{
        display: none;
    }
}