@font-face {
  font-family: 'Inter Black';
  src: url(/src/fonts/static/Inter_28pt-Black.ttf);
}
@font-face {
  font-family: 'Inter Medium';
  src: url(/src/fonts/static/Inter_18pt-Medium.ttf);
}
@font-face {
  font-family: 'Inter SiemBold';
  src: url(/src/fonts/static/Inter_18pt-SemiBold.ttf);
}
@font-face {
  font-family: 'Inter Regular';
  src: url(/src/fonts/static/Inter_18pt-Regular.ttf);
}
@font-face {
  font-family: "Inter SiemBold";
  src: url(/src/fonts/static/Inter_18pt-SemiBold.ttf);
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(27, 35, 22, 1);
  padding: 0px;
  color: #FFFFFF;
}
h2{
  font-family: "Inter SiemBold";
  font-size: 3.4375em;
  text-align: center;
}
button{
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  opacity: 0.75;
  font-size: 1.5em;
  padding-top: 0px;
  padding-bottom: 0px;
}
h3{
  font-size: 2.375em;
  margin: 0px;
}
p{
  margin: 0px;
}
@media screen and (min-width: 1900px){
  html{
    font-size: 18px;
  }
  
}
@media screen and (max-width: 1400px) {
  html{
    font-size: 14px;
  }
}
@media screen and (max-width: 1140px) {
  html{
    font-size: 12px;
  }
}