.planto-body{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.planto-body-hero{
    background-image: url(/src/assets/backgroungimage.png);
    padding-top: 16.625em;
    width: auto;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1.0076fr 1fr 0.5fr 1fr;
    grid-template-rows: 1fr 0.25fr 0.59734fr 4fr;
    grid-template-areas: 'breath breath trendyS trendyS' '. . trendyS trendyS' 'reviews . trendyS trendyS' 'trendyB trendyB trendyB trendyB';
    padding-left: 3.5625em;
    padding-right: 2.8125em;
}
.planto-body-hero-title{
    grid-area: breath;
}
.planto-body-hero-title p{
    font-family: "Inter Medium";
     opacity: 0.75;
     font-size: 1.4375em;
     margin-top: 0px;
     margin-bottom: 1.25em;
     margin-left: 6px;
}
.planto-body-hero-title h1{
     font-family: 'Inter SiemBold';
     opacity: 0.75;
    font-size: 7.375em;
    margin: 0px;
}

.planto-body-hero-trendyB{
    grid-area: trendyB;
    width: 100%;
}
.planto-body-hero-trendyS{
    grid-area: trendyS;
    height:83.8%;
    position: relative;
    width: 77.8%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    display: flex;
    justify-content: flex-end;
    backdrop-filter: blur(8px);
    border-radius: 80px;
    justify-self: end;
    filter:  drop-shadow(0px 9px 18.4px rgba(0, 0, 0, 0.25));
}
.planto-alt-border{
    position: absolute;
    width: 100.5%;
     filter:  drop-shadow(0px 9px 18.4px rgba(0, 0, 0, 0.25));
}
.explore-button{
    border: 2px solid #ffffff;
    border-radius: 12px;
    width: 7.75em;
    font-size: 1.75em;
    box-sizing: border-box;
    height: 2.2857142857142em;
}
.planto-body-hero-buttons-container{
    display: flex;
    column-gap: 2.1875em;
}
.paly-button{
display: flex;
justify-content: center;
align-items: center;
height: 2.666665em;
}
.playIcon{
    object-fit: contain;
    height: 100%;
}
.paly-button span{
   margin-left: 1rem;
}
.planto-reviews-profile-img{
    width: 4em;
    height: 4em;
}
.planto-hero-review-cover{
    grid-area: reviews;
    display: flex;
    justify-content: space-between;
}
.planto-body-hero-reviews{
    width: 85%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter Regular';
}
.planto-body-glass-container{
background-color: rgba(255, 255, 255, 0.05);
    border-radius: 45px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    position: relative;
}
.planto-body-border{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: -3px;
    z-index: -1;
    transition: visibility 0.15s ease;
}
.planto-review{
    font-size: 1.0625em;
    padding-top: 1em;
}
.planto-reviews-profile{
    display: flex;
    align-items: center;
    column-gap: 1.75em;
}
.planto-reviews-profile-info-name{
    font-size: 1.375em;
    margin-bottom: 5px;
}

.planto-hero-trendyS-container{
    position: relative;
    display: flex;
    align-items: center;
    height:95%;
    width:100%;
    flex-direction: column;
    justify-content: flex-end;
}

.planto-body-hero-trendyS .planto-body-border{
    left: 0;
}
.planto-hero-trendyS-container-info{
    font-family: "Inter Regular";
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.planto-hero-trendyS-container-info *{
    opacity: 0.75;
    margin: 0;
}
.planto-hero-trendyS-container-info-name{
    font-size: 2.375em;

}
.planto-hero-trendyS-container-info-title{
    font-size: 1.4375em;
}
.planto-trendyS-plant-img{
    position: absolute;
    top: -19%;
    width:75%;
}
.planto-body-border-alt{
    backdrop-filter: blur(8px);
    border-radius: 45px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    
}
.planto-trendyS-now-indicator{
    display: flex;
    justify-content: space-between;
    width: 3.5625em;
}

.planto-trendyS-now-indicator-dot {
    width: 0.375em;
    height: 0.375em;
    background-color: #ffffff;
    border-radius: 50em;    
}
.planto-trendyS-now-indicator-dot-active{
        width: 1.3125em;
        border-radius: 30em;    
}
.planto-hero-trendyS-container-cover{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 39%;
    width: 85%;
    padding-left: 3em;
    box-sizing: border-box;
    margin-bottom: 1.8em;
}
.disactive{
    display: none;
}
.planto-body-hero-trendyB{
    justify-content: center;
}
.planto-body-hero-trendyB_h2{
    display: flex;
    justify-content: center;
}
.planto-body-hero-trendyB{
    justify-self: center;
}
.planto-body-hero-trendyB_h2 h2{
    position: relative;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.36)) drop-shadow(0px 50.05px 40.04px rgba(0, 0, 0, 0.2737)) drop-shadow(0px 30.15px 24.12px rgba(0, 0, 0, 0.2346)) drop-shadow(0px 19.32px 15.46px rgba(0, 0, 0, 0.2055)) drop-shadow(0px 12.52px 10.02px rgba(0, 0, 0, 0.18)) drop-shadow(0px 7.88px 6.31px rgba(0, 0, 0, 0.1545)) drop-shadow(0px 4.53px 3.62px rgba(0, 0, 0, 0.1254)) drop-shadow(0px 1.99px 1.99px rgba(0, 0, 0, 0.0863));
    width: fit-content;
}
.planto-body-hero-trendyB_h2 h2::after{
    content: url(/src/assets/Vector\ 1.svg);
    position: absolute;
    width: 69px;
    height: 69px;
    top: -20px;
    right: -26px;
}
.planto-body-hero-trendyB_h2 h2::before{
    content: url(/src/assets/Vector\ 1.svg);
    position: absolute;
    width: 69px;
    transform: rotate(180deg);
    height: 69px;
    top: 20px;
    left: -30px;
}
.planto-body-hero-trendyB-container{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    border-radius: 151px;
    height: 32.875em;
    font-family: "Inter SiemBold";
    margin-top: 8.125em;
}
.planto-body-hero-trendyB-container h3{
    font-family: "Inter SiemBold";
}
.planto-body-hero-trendyB-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 2.0625em;
    width: 50%;
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: auto;
    row-gap: 1.5em;
}
.planto-body-hero-trendyB-info p{
    font-size: 1.25em;
}
.planto-price-container{
    font-size: 2.375em;
}
.planto-buy-button{
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    height: 2.666665em;
    width: 2.666665em;
    box-sizing: border-box;
    margin-left: 1.45em;
}
.planto-body-hero-trendyB-buttons-container{
    display: flex;
}
.planto-plant-img{
    position: absolute;
    left: 29px;
    bottom: -1%;
}
.planto-body-hero-trendyB-container:nth-child(3){
    justify-content: flex-start;
}
.planto-body-hero-trendyB-container:nth-child(3) .planto-plant-img{
    bottom: -13%;
    left: auto;
    right: -2%;
}
.planto-body-hero-trendyB-container:nth-child(3) .planto-body-hero-trendyB-info{
    padding-left: 7.625em;
}
.planto-images-shadow{
    filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.12)) drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.0912)) drop-shadow(0px 8.14px 14.12px rgba(0, 0, 0, 0.0782)) drop-shadow(0px 5.22px 5.46px rgba(0, 0, 0, 0.0685)) drop-shadow(0px 3.38px 10.02px rgba(0, 0, 0, 0.06)) drop-shadow(0px 2.13px 6.31px rgba(0, 0, 0, 0.0515)) drop-shadow(0px 1.22px 3.62px rgba(0, 0, 0, 0.0418)) drop-shadow(0px 0.54px 1.59px rgba(0, 0, 0, 0.0288));
}
.planto-body-main-content-container{
    padding-left: 3.8125em;
    padding-right: 2.8125em;
}
.planto-body-topSell{
    margin-top: 8.9375em;
}
.planto-body-topSell-cards-cotainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2.5625em;
    grid-template-rows: auto;
    row-gap: 7.0625em;
    margin-top: 11.8125em;
}
.planto-body-topSell-card{
    position: relative;
    display: flex;
    height: 40.25em;
}
.planto-body-topSell-card-background{
    position: absolute;
    filter: drop-shadow(0px 9px 18.4px rgba(0, 0, 0, 0.25));
    z-index: -1;
    height: 100%;
    width: 100%;
}
.planto-body-topSell-card-image{
    top: -18%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    width: 28.6875em;
    height: 28.6875em;
}
.planto-card-content-container{
    display: flex;
    flex-direction: column;
    row-gap: 2.25em;
        padding-left: 4.125em;
    padding-bottom: 3.1875em;
    padding-right: 4.625em;
    justify-content: flex-end;
    font-family: "Inter Regular";
}
.planto-card-content-container > *:not(:last-child), .planto-price-container{
    opacity: 0.75;
}
.planto-card-manipulation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.planto-card-desc{
    font-size: 1.5em;
}
.planto-card-name, .planto-hero-trendyS-container-info-name{
    letter-spacing: 1.5px;
    font-weight: 300;
}
.planto-hero-trendyS-rl{
    opacity: 1;
}
.planto-card-content-container .planto-buy-button{
    width: 2.291666666666667em;
    height: 2.291666666666667em;
}
.planto-body-review{
    position: relative;
    padding-left: 3.625em;
    padding-bottom: 5.9375em;
    padding-top: 5.6875em;
    padding-right: 3.375em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.planto-body-rew-cards-cotainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
    height: 30em;
    column-gap: 2.0625em;
    margin-top: 11.375em;
}
.planto-rev-profile-info-container{
    display: flex;
    column-gap: 2.375em;
}
.planto-rev-profile-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.planto-rew-background{
    position: absolute;
    z-index: -1;
    width: 100%;    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.planto-rev-profile-name{
    font-size: 2.375em;
    font-family: "Inter Siembold";
}
.planto-review-text{
    font-size: 1.5em;
    font-family: "Inter Regular";
    opacity: 0.75;
}
.planto-profile-shadow{
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.15)) drop-shadow(0px 41.78px 33.42px rgba(0, 0, 0, 0.1078)) drop-shadow(0px 22.34px 17.87px rgba(0, 0, 0, 0.0894)) drop-shadow(0px 12.52px 10.02px rgba(0, 0, 0, 0.075))  drop-shadow(0px 6.65px 5.32px rgba(0, 0, 0, 0.0606)) drop-shadow(0px 2.77px 2.21px rgba(0, 0, 0, 0.0422));
}
.planto-body-best-cotainer{
    position: relative;
    width: 100%;
    height: 48.4375em;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    border-radius: 92px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15.125em;
}
.planto-body-best-content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "Inter Siembold";
    padding-right: 5.6875em;
    height: 80%;
    width: 45%;
}
.planto-body-best-content-container> *:not(:last-child){
    opacity: 0.75;
}
.planto-body-best-img{
    position: absolute;
    left: -94px;
    top: -137px;
    width: 54%;
    object-fit: contain;
    height: 100%;
}
.planto-body-best-content-text{
    font-size: 1.75em;
}
.planto-body-best-manipulation{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.planto-body-best-manipulation-rl{
    display: flex;
    justify-content: space-between;
    width: 11.625em;
    align-items: center;
}
.planto-body-best-manipulation-rl-buttons{
    opacity: 0.35;
    width: 1.5em;
    font-family: "Inter Bold";
}
.planto-body-best-manipulation-count{
    font-size: 1.25em;
    opacity: 0.75;    
}
.planto-body-best-manipulation-count span:last-child{
    font-size: 0.75em;     
}
.planto-body-best-manipulation-l{
    transform: rotate(180deg);
}
.planto-body-best-manipulation-active{
    opacity: 0.75;
}
.planto-body-best-component{
    margin-top: 17.8125em;
}
.planto-body-best-component .planto-trendyS-now-indicator{
    margin-left: auto;
    margin-right: auto;
    margin-top: 8.3125em;
}
@media (max-width: 1600px) {
    .planto-card-content-container{
        row-gap: 1.25em;
         height: 90%;
    }
    .planto-body-topSell-card-image{
        width: 26.6875em;
        height: 26.6875em;
    }
    
}
@media (max-width: 1500px) {
    .planto-card-content-container{
        row-gap: 1.25em;
         height: 86%;
    }
    .planto-body-topSell-card-image{
        width: 25.6875em;
        height: 25.6875em;
    }
    
}
@media (max-width: 1445px){
       .planto-rev-profile-name{
       font-size: 2em;
    }
}
@media (max-width: 1400px){
    .planto-body-hero-trendyB-info{
        width: 56%;
    }
      .planto-card-content-container{
        row-gap: 1.25em;
         height: 88%;
    }
    .planto-body-topSell-card-image{
        width: 25.6875em;
        height: 25.6875em;
    }
    .planto-body-review{
             padding-bottom: 4.9375em;
        padding-top: 4.6875em;
    }
}
@media (max-width: 1360px){
    .planto-body-hero-trendyB-info{
        width: 56%;
    }
      .planto-card-content-container{
        row-gap: 1.25em;
         height: 88%;
    }
    .planto-body-topSell-card-image{
        width: 25.6875em;
        height: 25.6875em;
    }
    .planto-rev-profile-info{
        justify-content: space-around;
    }
}
@media (max-width: 1250px){
.planto-body-topSell-cards-cotainer{
    grid-template-columns: 1fr 1fr;
}
.planto-body-topSell-card-background{
    width: auto;
    left: 50%;
    transform: translate(-50%, 0%);
}
.planto-card-content-container{
    padding-left: 5.125em;
    padding-right: 5.625em;
}
.planto-review-text{
    font-size: 2.1em
}
.planto-rev-profile-name{
    font-size: 2.685em
}
.planto-body-review {
    padding-bottom: 3.9375em;
    padding-top: 2.6875em
}
.planto-body-best-content-container{
    height: 75%;
}

}

@media (max-width: 1140px){

.planto-card-content-container{
    padding-left: 7.125em;
    padding-right: 7.625em;
}
.planto-review-text{
    font-size: 2.35em
}
.planto-rev-profile-name{
    font-size: 2.885em
}
.planto-body-review {
    padding-bottom: 0.9375em;
    padding-top: 2.6875em
}
.planto-body-best-content-container{
    height: 75%;
}
.planto-body-best-cotainer {
    height: 44.4375em;

}
.planto-body-best-img {
    top: -94px;
}
.planto-hero-trendyS-container-cover{
    height: 42%;
}
.planto-hero-trendyS-container-info-name{
    font-size: 2em;
}
.planto-hero-trendyS-container-info-title{
    font-size: 1.3375em;
}
}
@media (max-width: 1000px) {
    .planto-review-text{
        font-size: 1.8em;
    }
    .planto-rev-profile-name{
        font-size: 2.4em;
    }
    .planto-body-review{
        padding-bottom: 3em;
    }
    .planto-card-content-container{
        padding-left: 5.125em;
        padding-right: 4.625em;
    }
    .planto-body-topSell-card-background{
        width: 100%;
    }
    .planto-body-best-content-text{
        font-size: 1.5em;
    }
    .planto-body-best-component .planto-trendyS-now-indicator{
        margin-top: 3.3125em;
    }
}
@media (max-width: 950px) {
    .planto-body-hero-reviews{
        width: 100%;
    }
    .planto-body-hero-trendyS{
        height: 95.8%;
        width: 88.8%;
    }
    .planto-hero-trendyS-container {
        height: 90%;
    }
}
@media (max-width: 849px) {
    .planto-body-hero-trendyB{
        display: none;
    }
    .planto-body-hero{
        grid-template-columns: 1.0076fr 1fr 0.5fr 1fr;
        grid-template-rows: 1fr 0.25fr 2fr 1fr;
        grid-template-areas:
        'breath breath breath breath'
        '. . . .'
        'trendyS trendyS trendyS trendyS'
        'reviews reviews reviews reviews ';
        
    }

    .planto-body-hero-reviews{
        scroll-snap-align: center; 
    }
    .planto-body-hero-trendyS{
        justify-self: center;
        height: auto;
        width: 98.8%;
    }
    .planto-trendyS-plant-img {
        width: 55%;
        right: -19px;
    }
    .planto-hero-trendyS-container {
        height: 103%;
        justify-content: center;
    }
    .planto-hero-trendyS-container-cover{
        width: 54%;
        align-items: center;
        height: 60%;
        margin-right: auto;
    }
    .planto-hero-trendyS-container-info-title{
        font-size: 2.0375em;
    }
    .planto-hero-trendyS-container-info-name{
        font-size: 3em;
    }
    .planto-body-hero-reviews {
        width: 49%;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }
    .planto-review{
        font-size: 1.7em;
    }
    .planto-reviews-profile-info-name{
        font-size: 2em;
    }

}
@media screen and (max-width: 800px){
  .planto-review-text{
    font-size: 1.6em;
  }
  .planto-rev-profile-name{
    font-size: 2.1em;
  }
  .planto-body-review{
    padding-bottom: 3.5em;
    padding-top: 3.5em;
  }
  .planto-body-best-content-text{
    font-size: 1.3em;
  }
  .planto-body-best-content-title{
    font-size: 2em;
  }
  .planto-hero-trendyS-container {
    height: 96%;
  }
  .planto-body-hero-trendyS{

  }

}
@media screen and (max-width:780px){
    .planto-card-content-container{
        padding-left: 3.125em;
        padding-right: 2.625em;
    }
    .planto-body-best-manipulation-rl{
        width: 8em;
    }
    .planto-header-navigaton{
        width: 29.0625em;
    }
    .planto-hero-trendyS-container{
        height: 82%;
    }
    .planto-body-rew-cards-cotainer {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1em;
    }
    .planto-review-text{
        font-size: 1.8em;
    }
    .planto-body-topSell-cards-cotainer{
        grid-template-columns: 1fr;
    }
    .planto-body-topSell-card{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .planto-body-best-content-text:last-of-type{
        display: none;
    }
    .planto-body-best-cotainer{
        height: 34.4375em;
    }
    .planto-body-hero-reviews{
        width: 60%;
    }
    .planto-card-content-container{
        height: 90%;
    }
}
@media (max-width:680px ) {
        .planto-hero-trendyS-container {
        height: 80%;
        }
        .planto-hero-trendyS-container-info-name{
            font-size: 2.5em;
        }
}
@media  (max-width: 650px){
        .planto-body-best-content-container{
            width: 55%;
        }
        .planto-hero-trendyS-container{
            height: 77%;
        }
        .planto-hero-trendyS-container-info-name{
            font-size: 2.5em;
        }
        .planto-hero-trendyS-container-info-title{
            font-size: 2em;
        }
        .planto-body-topSell-card{
            width: 80%;
            height: 57.25em;
        }
        .planto-card-content-container{
            height: 82%;
            padding-left: 4.125em;
            padding-right: 3.625em;
        }
        .planto-body-topSell-card-image{
            width: 32.6875em;
            height: 32.6875em;
            top: -10%;
        }

}
@media screen and (max-width:619px) {
    .planto-body-hero-trendyS{
        display: none;
    }
    .planto-body-hero{
        grid-template-rows: 1fr 0.25fr 1fr 0.25fr;
        grid-template-areas: 'breath breath breath breath'
'. . . .'
'reviews reviews reviews reviews'
'. . . . ';
    }
}
@media screen and (max-width:550px) {
    .planto-body-hero-reviews{
        width: 90%;
    }
    .planto-card-content-container{
        height: 79%;
    }
    .planto-body-rew-cards-cotainer {
    width: 100%;
}
.planto-body-best-img {
           position: absolute;
        left: -10px;
        top: -17px;
        width: 74%;
        object-fit: contain;
        height: 100%;
        z-index: -2;
        filter: blur(10px);
}
.planto-body-best-content-container{
    width: 75%;
}
}
@media screen and (max-width:500px){
        .planto-card-content-container {
            height: 74%;
        }
        .planto-body-topSell-card {
    width: 98%;
    height: 57.25em;
}
.planto-body-topSell-card-image{
    height: 30.6875em;
    width: 30.6875em;
}
h2{
    font-size: 2.8em;
}
.planto-review-text{
    font-size: 1.5em;
}
    .planto-body-review {
        padding-top: 4.5em;
    }
}
@media  (max-width:450px) {
    .planto-body-main-content-container{
        padding-left: 2.8125em;
        padding-right: 1.8125em;
    }
    .planto-body-hero{
        padding-left: 2.5625em;
    }
}
@media  (max-width:400px) {
    .planto-body-main-content-container{
        padding-left: 2.8125em;
        padding-right: 1.8125em;
    }
    .planto-body-hero{
        padding-left: 2.5625em;
    }
    .planto-body-topSell-card-image {
        height: 27.6875em;
        width: 27.6875em;
        top: -4%;
    }
    .planto-card-content-container{
        padding-left: 3.125em;
        padding-right: 2.625em;
    }
    .planto-body-best-content-container{
        width: 90%;
        align-items: center;
        padding-right: 2.6875em;
        padding-left: 2.6875em;
    }
    .planto-body-review{
        padding-left: 1.625em;
        padding-right: 1.375em;
        padding-bottom: 4.5em;
    }
    h2{
        font-size: 2em;
    }
}

